:root {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #6d5580; /* Tom de lavanda mais escuro */
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #9370db; /* Lavanda */
  text-decoration: inherit;
}

a:hover {
  color: #7b68ee; /* Lavanda mais intenso */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 3.2em;
  color: #7b68ee; /* Lavanda mais intenso */
}

h2 {
  font-size: 2.4em;
  color: #7b68ee; /* Lavanda mais intenso */
}

h3 {
  font-size: 1.8em;
  color: #7b68ee; /* Lavanda mais intenso */
}

p {
  margin-bottom: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c2b6dd; /* Lavanda médio */
  color: white;
  cursor: pointer;
  transition: background-color 0.25s, transform 0.2s;
}

button:hover {
  background-color: #b19cd9; /* Lavanda mais intenso no hover */
  transform: translateY(-2px);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #6d5580; /* Tom de lavanda mais escuro */
    background-color: #ffffff;
  }
  a:hover {
    color: #7b68ee; /* Lavanda mais intenso */
  }
  button {
    background-color: #c2b6dd; /* Lavanda médio */
  }
}
